# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
###############################
# Core EditorConfig Options   #
###############################
# All files
[*]
indent_style = space
indent_size = 2
insert_final_newline = true
charset = utf-8-bom
max_line_length = 80
fsharp_max_if_then_else_short_width = 80
fsharp_max_infix_operator_expression = 80
fsharp_max_record_width = 80
fsharp_max_array_or_list_width = 80
fsharp_max_value_binding_width = 80
fsharp_max_function_binding_width = 80
fsharp_max_dot_get_expression_width = 80
fsharp_keep_max_number_of_blank_lines = 2
